.error-alert {
  position: fixed;
  bottom: 0;
  left: 50%;
  display: flex;
  justify-content: center;
  display: none;

  &__info {
    position: relative;
    width: 100%;
    letter-spacing: 1px;
    font-size: 18px;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5c6cb;
    width: 3rem;
    height: 100%;
  }

  &__text {
    padding-left: 3rem;
  }
}

@media all and (max-width: 768px) {
  .error-alert {
    &__info {
      font-size: 20px;
    }
  }
}

@media all and (max-width: 420px) {
  .error-alert {
    width: 90%;
    left: 5%;

    &__info {
      text-align: center;
      padding-left: 3rem;
    }

    &__text {
      padding-left: 0;
    }
  }
}
