.films-grid {
  background: #28282b;
  font-family: "Poppins", sans-serif;

  &__grid {
    width: 90%;
    margin: 0 auto;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__film {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #3a3a3d;
    margin-top: 30px;
    padding: 15px 15px 0 15px;
    border-radius: 5px;
  }

  &__img {
    width: 100%;
  }

  &__name {
    margin: 10px 0;
    color: #d1d1d1;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
  }

  &__info {
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__price {
    font-size: 35px;
    color: #e00b5b;
    letter-spacing: 3px;
  }

  &__btn {
    padding: 7px 30px;
    background: #ce0e54;
    box-shadow: 0 2px 3px 1px #28282b;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }
}

.films-grid__btn_purchased {
  background: #2ecc71;
  box-shadow: 0 0 3px 2px #28282b;
}

@media all and (max-width: 1024px) {
  .films-grid {
    &__film {
      width: 30%;
    }
  }
}

@media all and (max-width: 768px) {
  .films-grid {
    &__film {
      width: 30%;
    }
  }
}

@media all and (max-width: 420px) {
  .films-grid {
    &__row {
      justify-content: center;
    }

    &__film {
      width: 80%;
    }

    &__price {
      font-size: 38px;
    }

    &__name {
      font-size: 20px;
    }

    &__btn {
      padding: 10px 35px;
    }
  }
}
