.pagination {
  background: #2f2f35;
  font-family: "Gilroy", sans-serif;
  padding: 40px 0;

  &__block {
    background: #2f2f35;
    width: 1200px;
    margin: 0 auto;
    padding: 7px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #37363b;
    border-top: 2px solid #37363b;
    border-radius: 3px;
  }

  &__link {
    width: 30px;
    margin: 0 8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d1d1d1;
    font-size: 20px;
    transition: background-color 0.3s;

    &:hover {
      color: #d1d1d1;
      background: #37363b;
      text-decoration: none;
    }
  }
}

.page_active {
  color: #da5275;
  background-color: #37363b;

  &:hover {
    color: #da5275;
  }
}

@media all and (max-width: 1024px) {
  .pagination {
    &__block {
      width: 90%;
    }
  }
}

@media all and (max-width: 768px) {
  .pagination {
    &__block {
      width: 90%;
    }
  }
}

@media all and (max-width: 420px) {
  .pagination {
    &__block {
      width: 90%;
    }

    &__link {
      width: auto;
      font-size: 20px;

      &:hover {
        background: none;
      }
    }
  }

  .page_active {
    background: none;
  }
}
