.info {
  background: #26262b;
  font-family: "Gilroy", sans-serif;
  position: relative;
  box-shadow: 0 3px 10px 1px #211f21;

  &__block {
    width: 1200px;
    padding-top: 50px;
    padding-bottom: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    text-transform: uppercase;
    color: #d1d1d1;
  }

  &__filter {
    width: 48%;
    display: flex;
    align-items: center;
    position: relative;
  }

  &__search {
    color: #67666b;
    position: absolute;
    top: 11px;
    left: 0;
  }

  &__input {
    width: 100%;
    background: none;
    border: none;
    border-bottom: 2px solid #37373b;
    padding: 7px 25px;
    color: #d1d1d1;
    letter-spacing: 1px;
    outline: none;
    transition: border-color 0.3s;

    &:focus {
      color: #d1d1d1;
      border-color: #da5275;
      letter-spacing: 1px;
    }
  }
}

@media all and (max-width: 1024px) {
  .info {
    &__block {
      width: 90%;
    }
  }
}

@media all and (max-width: 768px) {
  .info {
    &__block {
      width: 90%;
    }
  }
}

@media all and (max-width: 420px) {
  .info {
    &__block {
      width: 90%;
      flex-direction: column;
      justify-content: center;
      padding-top: 25px;
    }

    &__filter {
      width: 100%;
    }

    &__input {
      text-align: center;
    }

    &__search {
      display: none;
    }
  }
}
