.title {
  background: #26262b;
  font-family: "Gilroy", sans-serif;
  position: relative;
  box-shadow: 0 3px 10px 1px #211f21;

  &__block {
    width: 1200px;
    padding-top: 50px;
    padding-bottom: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    text-transform: uppercase;
    color: #d1d1d1;
  }
}

@media all and (max-width: 1024px) {
  .title {
    &__block {
      width: 90%;
    }
  }
}

@media all and (max-width: 768px) {
  .title {
    &__block {
      width: 90%;
    }
  }
}

@media all and (max-width: 420px) {
  .title {
    &__block {
      width: 90%;
      flex-direction: column;
      justify-content: center;
      padding-top: 25px;
    }
  }
}
