.title__search__result {
  position: absolute;
  left: 0;
  top: 60px;
  background: #26262b;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  display: none;

  &__img-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  &__img {
    width: 100%;
  }

  &__info-block {
    padding-left: 20px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    flex: 2;
  }

  &__title {
    color: #fff;
    font-size: 22px;
    letter-spacing: 1px;
  }

  &__categories {
    color: #da5275;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
  }

  &__divide-block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__description {
    margin-top: 20px;
    color: #d1d1d1;
  }

  &__action-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    color: #de5059;
    font-size: 38px;
    letter-spacing: 3px;
  }

  &__date {
    color: #d1d1d1;
    letter-spacing: 1px;
    font-size: 14px;
  }

  &__btn-buy {
    padding: 7px 30px;
    background: linear-gradient(to right, #d6538e, #de5059);
  }

  &__btn-close {
    position: absolute;
    top: 5px;
    right: 0;
  }
}

.title__search__result__btn-buy_purchased {
  background: #2ecc71;
  box-shadow: 0 0 3px 2px #28282b;
}

.title__search__result_active {
  display: flex;
}

@media all and (max-width: 1024px) {
  .title__search__result {
    &__title {
      font-size: 22px;
    }

    &__categories {
      font-size: 12px;
    }

    &__description {
      font-size: 14px;
    }

    &__price {
      font-size: 30px;
    }

    &__date {
      font-size: 12px;
    }

    &__btn {
      padding: 5px 20px;
    }
  }
}

@media all and (max-width: 900px) {
  .title__search__result {
    width: 100%;
    flex-direction: column;
    top: 53px;

    &__info-block {
      padding: 0;
      padding-top: 10px;
    }

    &__price {
      font-size: 36px;
    }

    &__date {
      font-size: 14px;
    }

    &__btn {
      padding: 7px 25px;
    }
  }
}

@media all and (max-width: 420px) {
  .title__search__result {
    padding-top: 50px;

    &__btn-close {
      font-size: 20px;
    }
  }
}
