.table {
  &-section {
    background: #28282b;
    font-family: "Gilroy", sans-serif;
  }

  &-block {
    width: 90%;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 30px;
  }

  & thead th {
    text-align: center;
    vertical-align: middle;
    color: #d1d1d1;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-top: 2px solid #d1d1d1;
  }

  & tbody td {
    text-align: center;
    vertical-align: middle;
    color: #d1d1d1;
    letter-spacing: 1px;
    border: 1px solid #424244;
  }

  &__avatar {
    width: 90px;
    height: 90px;
    background-color: #fff;
    border-radius: 50%;
  }

  &__poster {
    width: 100px;
  }
}

@media all and (max-width: 420px) {
  .table {
    & thead {
      display: none;
    }

    & tr {
      display: block;
      margin: 50px 0;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        bottom: 0;
        height: 3px;
        width: 100%;
        background: linear-gradient(to right, #d6538e, #de5059);
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    & tbody td {
      display: block;
      text-align: center;
      border: none;
      border-bottom: 1px solid #424244;
    }

    &__text {
      font-size: 18px;
    }
  }
}
