.users {
  &__remove {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__btn_remove {
    position: absolute;
    left: 92%;
    padding: 3px 5px;
    color: #6c757d;
    transition: color 0.3s;

    &:hover {
      color: #e03137;
    }
  }

  &__phone-btn_remove {
    display: none;
  }
}

@media all and (max-width: 900px) {
  .users {
    &__block {
      padding-top: 30px;
    }

    &__phone-btn_remove {
      display: block;
      margin: 0 auto;
      background-color: #323235;
      margin-bottom: 30px;
      letter-spacing: 1px;

      & .fas {
        margin-left: 10px;
      }
    }

    &__btn_remove {
      display: none;
    }
  }
}

@media all and (max-width: 420px) {
  .users {
    &__block {
      padding-top: 30px;
    }

    &__phone-btn_remove {
      display: block;
      margin: 0 auto;
      background-color: #323235;
      margin-bottom: 30px;
      letter-spacing: 1px;

      & .fas {
        margin-left: 10px;
      }
    }

    &__btn_remove {
      display: none;
    }
  }
}
