.profile__tickets {
  padding-top: 50px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;

  &_show {
    padding: 0 5px;
    font-size: 22px;
  }

  &-arrow {
    display: none;
    margin-left: 10px;
    font-size: 16px;

    &_active {
      display: inline-block;
    }
  }

  &-block {
    display: none;
    margin-top: 25px;
    opacity: 0;
    transition: opacity 0.5s;

    animation-name: slideUp;
    -webkit-animation-name: slideUp;

    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

    &_active {
      opacity: 1;
      transition: opacity 0.5s;

      animation-name: slideDown;
      -webkit-animation-name: slideDown;

      animation-duration: 0.5s;
      -webkit-animation-duration: 0.5s;

      animation-timing-function: ease;
      -webkit-animation-timing-function: ease;
    }
  }

  &-table {
    & td:first-child {
      width: 300px;
    }

    & td:last-child {
      width: 100px;
    }
  }

  &-poster {
    width: 100px;
  }
}

@media all and (max-width: 768px) {
  .profile__tickets {
    &-table {
      & td:first-child {
        width: 250px;
      }
    }
  }
}

@media all and (max-width: 900px) {
  .profile__tickets {
    padding-top: 25px;

    &-poster {
      width: 150px;
    }

    &__col-name {
      font-size: 22px;
    }

    &__col-date,
    &__btn_remove {
      font-size: 18px;
    }

    & tbody td:first-child,
    & tbody td:last-child {
      width: auto;
    }
  }
}

@media all and (max-width: 420px) {
  .profile__tickets {
    padding-top: 25px;

    &-poster {
      width: 200px;
    }

    &__col-name {
      font-size: 26px;
    }

    &__col-date {
      font-size: 22px;
    }

    &__btn_remove {
      font-size: 20px;
    }

    & tbody td:first-child,
    & tbody td:last-child {
      width: auto;
    }
  }
}
